<h1> Your Favorite Answers:</h1>
{{#each favoriteList.answers as |answer|}}
  {{answer.name}} says: {{answer.content}}
    <button {{action 'remove' answer}}>Remove</button>
  <br>
{{/each}}
<br>
<button {{action 'empty'}}>Clear list</button>
