<div class="container">
  <header class = "jumbotron">
    <h1>Fixer Upper Forum</h1>
    {{#link-to 'index'}}Home{{/link-to}}
    {{#link-to 'about'}}About{{/link-to}}
    {{#link-to 'contact'}}Contact{{/link-to}}
  </header>
    {{outlet}}
  <hr>
  <footer>
  </footer>
</div>
