<h2>Recently Asked Questions</h2>
<ul>
  {{#each model.questions as |question|}}
    {{question-tile question=question update="update" destroyQuestion="destroyQuestion"}}
  {{/each}}
</ul>

{{new-question save2="save3"}}

{{display-favorites}}
